html{
    width:100%;
    height:100%;}
body{
    height: 100%;
    min-height: 1400px;
    margin: 0;
    background: linear-gradient(to bottom,#9D002C 0%, #f1f1f1 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* body .jumbotron{
    min-height: 100%;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color:transparent;
}
.jumbotron{
    transition: background-color .5s;
} */

.a{
    color:black !important;  
}

h1{
    text-align: left;
    font-family: 'Kameron';
    font-size: 48px;
}
h2{
    margin-top:0;
}
#scale-details{
    text-align: center;
    width:100%;
    font-size: 20px;
    color:white;
    margin-top:4px;
}

.container {
    overflow: hidden;
    /* background-color: rgba(0,0,0,0); */
    border-bottom: solid;
    border-bottom-color: white;
}


#main {
    transition: margin-left .5s;
    padding: 10px;
}

.col-sm-2{
    overflow-y: scroll;
}

#main-div{
    position: absolute;
    overflow-y: scroll;
}
#mainArticle{
    padding-right:350px;
}

.checkbox{
    font-size: 5em;
}
.active{
    background-color:#9D002C !important;
    border-color:#9D002C !important;
}
.carousel-inner{
    padding:2em;
    padding-top: 1em;
}
.carousel-inner{
    text-align: center;
}
.carousel-control.right, .carousel-control.left {
    background-image:none;
    color: #9D002C;
}
#carousel-row{
    padding-top:0;
}
.list-inline{
    padding-left:30px;
}
.list-inline-item{
    font-style: oblique;
    margin-right: 54px;
    color:white; 
}
#main-div{
    overflow-y: scroll;
}
#progression-div{
    margin-top:1.8em;
    /* positionem;: absolute; */
    overflow: scroll;    
    max-height: 0%;
    /* display:inline-block; */
}

#progression-chords{
    overflow-y:scroll;
    /* height:250px; */
}
.chord-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.metronome-ind{
    margin-top: 14px;
    width:22px;
    height: 22px;
    border-radius: 50%;
    background-color:white;
}